<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="depthCamera" params="camID name *origin Gazebo">
        <joint name="camera_joint_${name}" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="trunk"/>
            <child link="camera_${name}"/>
        </joint>

        <link name="camera_${name}">
            <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size=".001 .001 .001"/>
            </geometry>
            </collision>

            <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://go1_description/meshes/depthCamera/depthCamera.dae" scale="1 1 1"/>
            </geometry>
            </visual>

            <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
            </inertial>
        </link>

        <joint name="camera_optical_joint_${name}" type="fixed">
            <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
            <parent link="camera_${name}"/>
            <child link="camera_optical_${name}"/>
        </joint>

        <link name="camera_optical_${name}">
        </link>


        // If using in Gazebo
        <xacro:if value="${Gazebo}">
            <xacro:include filename="$(find go1_description)/xacro/Accessories/depthCamera.gazebo.xacro"/>
            <xacro:depthCamera_gazebo camID="${camID}" name="${name}"/>
        </xacro:if>


    </xacro:macro>
</robot>